nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  width: 100svw;
}

.nav-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.nav-logo > img {
    height: auto;
    width: 20px;
}