nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  width: 100svw;
}

.nav-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: calc(0.5rem + 0.5px) 0rem calc(0.5rem + 0.5px) 0rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  gap: 10%;
}

.nav-logo > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.nav-logo > a > img {
  height: auto;
  width: 20px;
  rotate: -30deg;
  transition: rotate 200ms cubic-bezier(.25,.75,.85,.92);
}

.nav-logo:hover > a > img {
  rotate: 330deg;
}

.nav-info > a {
  transition: color 100ms linear;
}

.nav-info > a:hover {
  color: rgb(255, 143, 143);
}

