.sort-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}


/* .sort-parent > p {
  color: rgb(76, 74, 74);
} */

.sort-container, .sort-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 5px 5px 0px 0px;
  width: fit-content;
  gap:1rem;
}

.sort-container > p {
  font-weight: 500;
  width: 100%;
}

.sort-container2 > p {
  font-weight: 500;
  width: 100%;
}

.sort-container:hover, .sort-container2:hover {
  cursor: pointer;
  background-color: rgba(59, 58, 58, 0.2);
}

.sort-container > img, .sort-container2 > img {
  height: auto;
  width: 1rem;
}

.dropdown-content, .dropdown-content2 {
  position: absolute;
  display: none;
  width: 100%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(59, 58, 58, 0.2);
}

.dropdown-content:hover, .dropdown-content2:hover {
  cursor: pointer;
  background-color: rgba(99, 97, 97, 0.2);
}

.drop-container, .drop-container2{
  position:relative;
  display: inline-block;
}

.right-sort{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.3rem;
  flex-direction: row;
}
