@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "nav.css";
@import "main.css";
@import "search.css";
@import "cards.css";
@import "sort.css";
@import "load.css";
@import "view-nav.css";
@import "view-info.css";
@import "view-stats.css";
@import "pokemon-types.css";

:root {
  --foreground-rgb: #0f0f0f;
  --background-rgb: #000000;
  --content-width: 850px;
  --body-text: rgb(163, 163, 163);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0f0f0f;
    --background-rgb: #1e1e1e;
  }
} */

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
}
::-webkit-scrollbar-thumb {
  background: rgba(39, 39, 39, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 50, 14, 0.5);
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  background-image: url("../icons/bg.svg"),
    radial-gradient(
      circle farthest-corner at top,
      #020e1c 0px,
      #00050b 1000px,
      #020e1c 2000px,
      #00050b 3000px,
      #00050b 4000px,
      #020e1c 5000px,
      #00050b 6000px
    );
  background-repeat: repeat, no-repeat;
  background-blend-mode: color-dodge, normal;
  background-size: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container,
  .foot,
  nav,
  main {
    max-width: 640px;
  }
  a,
  ::placeholder,
  input,
  li,
  p {
    font-size: 1rem;
  }
  .card-bg {
    width: 47%;
  }
  .cards-img-container > img {
    width: 75%;
    top: 3rem;
    right: -6rem;
  }
  .info-pokemon-metadata,
  .info-pokemon-desc,
  .info-pokemon-stats {
    width: 100%;
    height: auto;
  }

  .info-pokemon-type {
    width: 100%;
    flex-direction: column;
  }
}

/* sm */
@media (max-width: 640px) {
  .container,
  .foot,
  nav,
  main {
    width: 100%;
  }
  a,
  ::placeholder,
  input,
  li,
  p {
    font-size: 0.9rem;
  }
  .card-bg {
    width: 100%;
  }
  .cards-img-container > img {
    width: 48%;
    top: 4rem;
    right: -18rem;
  }

  .info-pokemon > img {
    width: 80%;
    height: auto;
  }

  .go-pokemon {
    display: none;
  }
  .info-pokemon-weakness-content {
    flex-direction: column;
  }
}

/* xs */
@media (max-width: 475px) {
  .container,
  .foot,
  nav,
  main {
    width: 100%;
  }
  a,
  ::placeholder,
  input,
  li,
  p {
    font-size: 0.8rem;
  }
  .cards-img-container > img {
    width: 60%;
    top: 3.5rem;
    right: -10rem;
  }
  .go-pokemon {
    display: none;
  }
  .sort-parent {
    justify-content: space-between;
  }
  
}

h5 {
  font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  font-weight: 200;
  color: rgb(240, 240, 240);
  /* color: var(--main-color); */
}

h4 {
  font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(240, 240, 240);
  /* color: var(--main-color); */
}

h1 {
  font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-family: "Albert Sans", Arial, Helvetica, sans-serif;
  color: var(--body-text);
  text-wrap: pretty;
  font-kerning: auto;
  font-weight: 300;
  line-height: 120%;
}

button {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: 0;
}

a,
li {
  font-family: "Albert Sans", Arial, Helvetica, sans-serif;
  color: rgb(240, 240, 240);
  text-wrap: pretty;
  font-kerning: auto;
  font-weight: 300;
  text-decoration: none;
}

/*  GLOBAL CLASSES */

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
}

.occupy {
  width: 100%;
}

.ceiling {
  max-height: 100%;
}

.hide {
  display: none;
}

.show {
  display: inline-flex;
}

.transparent {
  opacity: 0;
}

.skeleton {
  animation: load-pan 70s linear infinite;
  background: linear-gradient(
    to right,
    rgb(255, 105, 105),
    rgb(255, 232, 56),
    rgb(96, 191, 255),
    rgb(125, 134, 255),
    rgb(255, 105, 105)
  );
  background-size: 1000%;
  filter: saturate(0.8);
}

@keyframes load-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -1000% center;
  }
}

.skeleton-batch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2rem;
  column-gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.bg {
  position: absolute;
  min-width: 100svw;
  min-height: 100svh;
  border: white 1px;
  background-image: url("./icons/bg.svg");
}
