.prev-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.go-prev,
.go-next {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  transition: background-color 100ms linear;
  border-radius: 5px;
}

.go-prev {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.go-next {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.go-pokemon {
  display: flex;
  flex-direction: column;
}

.go-pokemon > .pokemon-id {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 0.9rem;
}

.go-pokemon > h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--body-text);
}

.prev-next > .go-next > .go-pokemon > p {
  text-align: right;
}

.go-prev:hover,
.go-next:hover {
  cursor: pointer;
  background-color: rgba(59, 58, 58, 0.2);
}

.info-pokemon-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-pokemon-name > .pokemon-id{
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 1.1rem;
}

.info-pokemon-name > h4 {
  font-size: 1.5rem;
  padding: 0rem 0rem 0.3rem 0rem;
}
